extends layout

block content
  h1
    a#linkHome(href='/') #{title}

  h3 Please enter the URL to retrieve and parse
  - var beginningText = (theUrl ? theUrl : '');
  div.requestedUrl
    form#theForm(name="requestedUrl", action="/", method="get")
      input#theTextField(
        type="text",
          name="theUrl",
          value=beginningText)

  if theUrl
    h3 Displaying summary for: #{theUrl}

  if summaryTable
    div.outerTable
      - var columns = 12
      - var keys =  Object.keys(summaryTable)
      - for(var i = 0; i < keys.length; i+= columns)
        div.table-head
          - for(var j = 0; j < columns; j++)
            - var text = keys[i+j]
            div.column.tagName(id=text) #{text}
        div.row
           - for(var j = 0; j < columns; j++)
             - // console.log(summaryTable[keys[i+j]])
             - var count = (summaryTable[keys[i+j]] ? summaryTable[keys[i+j]].open : "")
              div.column.tagCount(data-label='#{summaryTable[keys[i+j]]}') #{count}
        div.spacerRow

    div#retrievedHTMLContainer
      if retrievedHTML
        | !{retrievedHTML}