extends layout

block content
  h1= title

  p Welcome to #{title}

  div.requestedUrl
    form(name="requestedUrl", action="/", method="get")
      input(type="text", name="theUrl")

  if theUrl
    p= theUrl
  else
    p No url yet!

  if summaryTable
    table
      thead
        tr
          each val, key in summaryTable
            th
              div.tagName(id='#{key}') #{key}
        tr 
          each val, key in summaryTable
            td  #{val.open}


    if retrievedHTML
      | !{retrievedHTML}