extends layout

block content
  h1= title

  h3 Please enter the URL to retrieve and parse 
  div.requestedUrl
    form#theForm(name="requestedUrl", action="/", method="get")
      input#theTextField(
        type="text", 
          name="theUrl", 
          value='#{theUrl}')
    p.hint (including the "http://" or "https://")

  if theUrl
    h3 Displaying summary for: #{theUrl}
  else
    p No url yet!

  div#summaryBox
  if summaryTable
    div.outerTable
      div.table-head
        each val, key in summaryTable
          div.column.tagName(id='#{key}') #{key}
      div.row
        each val, key in summaryTable
          div.column(data-label='#{key}') #{val.open}

    div#retrievedHTMLContainer
      if retrievedHTML
        | !{retrievedHTML}