extends layout

block content
  h1= title

  p Welcome to #{title}
  script(type='text/javascript').
    $(document).ready(function() {
                        alert("Hello CodeProject!");
                        });


  div.requestedUrl
    form(name="requestedUrl", action="/", method="get")
      input(type="text", name="theUrl")

  if theUrl
    p= theUrl
  else
    p No url yet!

  if summaryTable
    table
      thead
        tr
          th Tag Name
          th # Open
          th # Close
       each val, key in summaryTable
          tr
          td 
            button(id='#{key}') #{key}
          td #{val.open} 
          td #{val.close}

    if retrievedHTML
      | !{retrievedHTML}